In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

In [ ]:
#To read statistical summary,shape
car_data=pd.read_csv("/data.csv")
car_data.describe(),car_data.shape

(               Year    Engine HP  ...    Popularity          MSRP
 count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
 mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
 std        7.579740    109.19187  ...   1441.855347  6.010910e+04
 min     1990.000000     55.00000  ...      2.000000  2.000000e+03
 25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
 50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
 75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
 max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

 [8 rows x 8 columns], (11914, 16))

In [ ]:
#null values
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [ ]:
#drop of market category
car_data=car_data.drop(columns="Market Category")
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Vehicle Size       11914 non-null  object
 10  Vehicle Style      11914 non-null  object
 11  highway MPG        11914 non-null  int64
 12  city mpg           11914 non-null  int64
 13  Popularity         11914 non-null  int64
 14  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(7)
memory usage: 1.4+ MB